html {
    margin: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    background-color: #fbfbfb;
}


header {
    background-color: #58ACFF;
    height: 200px;
}

 .header-wrap {
     width: 75%;
     margin: auto;
     height: 100%;
     overflow: hidden;
 }

.insert-name,
.insert-time,
.insert-add{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    transform: translateY(40px);
}

header h2 {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2px;
    margin: 0;
    margin-left: 7%;
}

.insert-name {
    width: 49%;
}

.insert-name input {
    width: 85%;
    padding: 9px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: #707070;
    margin-top: 30px;
    margin-left: 7%;
    
}



.insert-time {
    width: 35%;
    text-align: center;
}

.insert-time p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    margin-right: 4px;
    margin-top: 30px;
    margin-left: 40px;
}



.insert-time select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
    border-radius: 6px;
    padding: 8px;
    color: #707070;
    font-size: 16px;
}

.select-minutes {
    margin-right: 0px !important;
}

.insert-add {
    width: 14%;
    text-align: center;
}

.insert-add img {
    margin: 0;
    width: 40px;
    margin-top: 20px;
}






main {
    width: 1366px;
    border: solid 1px #cfcfcf;
    margin: auto;
    height: calc(100vh - 202px);
    background-color: #fff;
}


.list {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    width: 49%;
}

.list ol {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #707070;
    letter-spacing: 2px;
    transform: translateY(80px);
}

.list img {
    margin-left: 20px;
}

.list p {
    display: inline-block;
    font-size: 18px;
    color: #707070;
    letter-spacing: 2px;
}

.list .current {
    background-color: #58ACFF;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.remove {
    width: 18px;
    transform: translateY(3px)
}

.timer {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    width: 49%;
}


.timer h1 {
    text-align: center;
    color: #707070;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: normal;
    margin: 80px 0 60px 0;
}

.timer div {
    width: 350px;
    margin: auto;
    background-color: #58ACFF;
    height: 150px;
    border-radius: 19px;
    text-align: center;

}

.timer div p {
    display: inline-block;
    font-size: 50px;
    color: #707070;
    background-color: #fff;
    padding: 15px 0;
    width: 300px;

    transform: translateY(-20px);
    border-radius: 28px;

}


.timer button {
    width: 160px;
    height: 50px;
    background-color: #58ACFF;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    margin: 40px 15px 40px 0;
    transform: translate(168px, -20px)
}


.counting {
    background-color: #204365 !important;
    color: white !important;
}

.timer > p {
    font-size:25px;
    color: #707070;
    font-weight: normal;
    text-align: center;
    margin: 10px;
    transform: translateY(-30px)
}

.congrats {
    position: fixed;
    width: 700px;
    height: 200px;
    top: 300px;
    left: 600px;
    background-color: rgb(255, 255, 255);
    border: #58ACFF 10px solid;
    border-radius: 10px;
    transition: all 0.3s;
}

.congrats p {
    font-size: 25px;
    text-align: center;
    transform: translateY(25px);
    font-weight: bold;
}

